
.Card {
  margin-top: .625rem;
  margin-bottom: .625rem;
  .ul {
    padding: 0;
    margin: 0;

    li {
      display: flex;
      // align-items: center;
      font-size: 14px;

      label {
        flex: 0 0 66px;
        font-weight: 500;
      }

      label+span {
        flex: 1;
        color: #666666;
      }

      &:not(:last-child) {

        margin-bottom: 1rem;
      }

      .emphaise {
        color: var(--ion-color-primary)
      }
    }
  }
}
