.Card {
  margin-top: .625rem;
  margin-bottom: .625rem;

  &__head {
    font-size: 16px;
    font-weight: 500;
    color: #262626;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &__body {
    padding-bottom: 1rem;
  }

  &__foot {
    padding: 2px 1rem;
    margin-bottom: -1rem;
    margin-right: -1rem;
    margin-left: -1rem;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    >* {
      flex: 1;

    }


  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: transparent;
    outline: none;

    span {
      height: 34px;
      line-height: 34px;
      display: inline-block;
      width: 100%;
    }

    &.confirm {
      color: var(--ion-color-primary);
    }

    &.cancel {
      color: #999999;
    }
  }

  &__tag {
    position: absolute;
    top: 1rem;
    right: 0;
    padding: 4px 1rem;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1;

    &.host {

      background-color: #F99C33;
    }

    &.participate {

      background-color: #1AB71B;
    }
  }



  ._title {
    display: block;
    margin-right: 68px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ul {
    padding: 0;
    margin: 0;

    li {
      display: flex;
      font-size: 14px;

      label {
        flex: 0 0 66px;
      }

      label+span {
        flex: 1;
        color: #666666;
      }

      &:not(:last-child) {

        margin-bottom: 1rem;
      }

      .emphaise {
        color: var(--ion-color-primary)
      }
    }
  }
}