.AppSelect {


  margin-bottom: 15px;


  &_label {
    color: #5E5E5E;
    font-size: 14px;
    margin-bottom: .5rem;
    display: block;
  }

  &_wrap {

    background-color: #F9FAFC;
    height: 36px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    position: relative;
  }

  &_inner {
    flex: 1;
    height: inherit;

    &::after {
      content: "";
      position: absolute;
      bottom: .5rem;
      right: .5rem;
      width: 10px;
      height: 8px;
      background-image: linear-gradient(135deg, transparent, transparent 50%, #DCDCDC 50%, #DCDCDC);
    }



    select {
      width: 100%;
      height: 100%;
      outline: none;
      border: 0;
      background-color: transparent;
      padding-left: .75rem;
      padding-right: .75rem;
      line-height: 1.5;
      position: relative;
      -moz-appearance: none;
      /* Firefox */
      -webkit-appearance: none;
      /* Safari and Chrome */
      appearance: none;

      &::placeholder {
        color: #AEAFB0;
      }

    }
  }


  &_error_message {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 2px;
    font-size: 10px;
    color: var(--ion-color-danger);
    opacity: 1;
    transition: all .28s;

  }

  &.error &_wrap {
    border: 1px solid var(--ion-color-danger);
  }

}
