.conference-picklist {
    display: flex;
    flex-wrap: wrap;
    .item {
        flex: 0 0 25%;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        margin-bottom: .5rem;
        span {
            font-size: 12px;
            // border: 1px solid #dddddd;
            margin: 1px .25rem;
            padding: 8px 6px;
            display: inline-block;
            user-select: none;
            -webkit-user-select: none;
            border-radius: 4px;
        }


        &.active span {
            background-color: var(--ion-color-primary);
            color: white;
        }

    }
}

@media (max-width: 400px) {
    .conference-picklist {

        margin-right: -.5rem;
        margin-left: -.5rem;
        .item span {
            font-size: 11px;
        }
    }
}

@media (max-width: 359px) {
    .conference-picklist .item {
        flex: 0 0 33.33%!important;
    }
}