html {
  font-size: 14px;
}

a {
  text-decoration: none;
}

// ionic reset

ion-card {
  --background: white;
}


ion-select {
  &::part(icon) {
    display: none;

  }
}

ion-router-outlet {
  overflow: scroll;
}

// Common css


.color-111 {
  color: #111111;
}

.color-333 {
  color: #333333;
}

.color-666 {
  color: #666666;
}

.color-999 {
  color: #999999;
}

.color-ccc {
  color: #cccccc;
}

.bg-white {
  background-color: white;
}

.vh-100 {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.rounded {
  border-radius: 8px;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

label.required {
  &::after {
    content: "*";
    color: #E02020;
    margin-left: 4px;
  }
}


// Animation Support

.fadeInUp {
  animation-duration: 0.45s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.rotateDownRight {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: rotateDownRight;
}

@keyframes rotateDownRight {
  100% {
    transform: rotate(-90deg);
  }
}

.rotateRightDown {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: rotateRightDown;
}

@keyframes rotateRightDown {
  0% {
    transform: rotate(-90deg);
  }
}

.fadeOutDown {
  animation-duration: 0.45s;
  animation-fill-mode: both;
  animation-name: fadeOutDown;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}