html {
  font-size: 14px;
}
a {
  text-decoration: none;
}
// ionic reset

ion-card {
    --background: white;
}


ion-select {
  &::part(icon)  {
    display: none;

  }
}

// Common css


.color-111 { color: #111111; }
.color-333 { color: #333333; }
.color-666 { color: #666666; }
.color-999 { color: #999999; }
.color-ccc { color: #cccccc; }

.bg-white {
    background-color: white;
}

.vh-100 {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.rounded {
    border-radius: 8px;
}

label.required {
  &::after {
    content: "*";
    // color: var(--ion-color-danger);
    color: #E02020;
    margin-left: 4px;
  }
}

.app-button {
  --border-radius: 24px;
  font-size: 1rem;
}

.app-select-placeholder {
  color: rgba(0, 0, 0, .33);
}

.app-block-title {
  // m-3 mt-4 d-flex justify-content-between
  margin: 1.5rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

.app-card {
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

.app-list {
  //  rounded bg-white px-3 pb-3 mt-2
  border-radius: 8px;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-top: .5rem;
}

.app-item {
  //  w-100 py-3 font-14 border-bottom d-flex justify-content-between
  padding: 2px 0px;
  padding-right: 20px;
  margin-right: -4px;
  height: 50px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('/images/eglass-arrow-right.png');
  background-position: right center;
  background-size: 14px;
  background-repeat: no-repeat;
  line-height: 1;

  > label {
    color: #666666;
  }

  > span:not(.app-select-placeholder) {
    color: #333333;
    text-align: right;
    height: 2em;
    line-height: 2em;
    min-width: 100px;
  }
}

      
.empty-img {
  display: block;
  width: 64%;
  margin-left: auto;
  margin-right: auto;
}
.empty-message {
  color: #AAAAAA;
}

// All page css
.Reservation {
  ion-select {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    
  }
}
.select-icon {
  display: none!important;
}

.Home {
    .hello {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 72px;
        background-color: var(--ion-color-primary);
    }
    .status-select-button {
        --padding-start: 0;
        --padding-end: 5px;
    }
    .contactUs {
      margin: 20px auto 25px;
      padding-left: 34px;
      height: 23px;
      width: 102px;
      font-size: 14px;
      background-image: url('/images/icon_call@2x.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center  ;
    }
}

.Profile {
  min-height: 160px;
}

.Butler {
    .icon {
        display: inline-block;
        width: 28px;
        height: 28px;
        // background-color: lightgrey;
        background-image: url('/images/icon_scheduled@2x.png');
        background-size: cover;
    }

    .title {
        line-height: 1;
        font-size: 14px;
    }
    
    .app-card {
      display: flex;
      align-items: center;
        margin: 0;
        background-color: white;
        flex: 0 0 calc(50% - 4px);
    }
}

.Schedule {
    .app-card {
      min-height: 240px;
    }

    .meetingType {
        flex: 0 0 56px;
    }

    .meetingViewButton {
        width: 58px;
        text-align: right;
    }

    .item {
        width: 100%;
        &:last-child {
            margin-bottom: 0!important;
        }

        
        ion-button {
            height: 24px;
            --border-radius: 24px;
        }

        ion-avatar {
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
        
    }
}

.AvailableRoom {
  .app-card {
    padding: .75rem;
    .left {
      flex: 0 0 28%;
      align-self: stretch;
      background-color: #f2f2f2;
    }
    .right {
      flex: 1;
      margin-left: .75rem;
      overflow: hidden;
    }
    .people-num {
      flex: 0 0 40px;
      text-align: right;
      color: var(--ion-color-primary);
    }
    .title {
      font-size: 16px;
      font-weight: bold;
    }
    .app-button {
      flex: 1;
      height: 2.4em;
      margin: 0;
    }
    .devices {
      ion-chip {
        border-radius: 8px;
        padding: 2px 12px;
        height: 24px;
      }
    }
  }
}


// Dark theme
.dark {
  ion-card {
    --background: #001729;
  }
  .card {
    background-color: #001729;
  }
  .hello {
    background-color: #000b15;
  }
}


// Animation Support

.fadeInUp {
  animation-duration: 0.45s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.rotateDownRight {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: rotateDownRight;
}

@keyframes rotateDownRight {
  100% {
    transform: rotate(-90deg);
  }
}

.rotateRightDown {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: rotateRightDown;
}

@keyframes rotateRightDown {
  0% {
    transform: rotate(-90deg);
  }
}

.fadeOutDown {
  animation-duration: 0.45s;
  animation-fill-mode: both;
  animation-name: fadeOutDown;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

